:root {
  --brdious: 8px;
  --spadding: 20px;
}

/* REST CSS */
a {
  text-decoration: none;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

/* Clases */
.header {
  li {
    list-style: none;
  }
  a {
    color: rgb(88, 142, 250);
    font-weight: bolder;
  }
}

.direccion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero {
  min-height: 700px;
  width: auto;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      /* Color inicial (arriba): Negro con 40% de opacidad */ rgba(0, 0, 0, 0.6)
        /* Color final (abajo): Negro con 60% de opacidad */
    ),
    url("https://wallpapers.com/images/featured/fondods-de-guardianes-de-la-galaxia-5paov6a8eku13ugb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  h1 {
    color: aliceblue;
  }
}

button {
  padding: 10px;
  border-radius: var(--brdious);
  border: 0px;
  background-color: rgb(47, 57, 14);
  color: aliceblue;
  font-weight: bolder;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in srgb, rgb(47, 57, 14) 80%, black);
  }
  &:active {
    /* Mezclamos tu color con negro para oscurecerlo mientras se presiona */
    background-color: color-mix(in srgb, rgb(47, 57, 14) 70%, black);
  }
}

/* servicios */

#services {
  padding: var(--spadding);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  max-width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(100, 200, 50, 0.3);
  border: solid rgba(100, 200, 50, 0.4) 0.5px;
  border-radius: var(--brdious);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
  img {
    border-radius: var(--brdious);
  }
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-10px);

    /* Opcional: Hacemos la sombra un poco más grande y difusa para aumentar el efecto de que "flota" */
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.3);
  }
}

#services h2,
#contact h2 {
  text-align: center;
  margin-bottom: 20px;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

#contact {
  background-color: rgba(200, 30, 90, 0.1);
  padding: var(--spadding);
}

.formulario {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  input {
    width: 80vw;
    padding: 5px;
    border: solid 0.1px rgba(30, 40, 10, 0.1);
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: var(--brdious);
  }
  button {
    width: 80vw;
  }
}
